@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur notre site d'inscription aux événements sportifs !</h1>
    <p>
        Vous êtes passionné de sport et souhaitez participer à des événements stimulants et compétitifs ? Ne cherchez plus ! Notre plateforme est là pour vous offrir une expérience d'inscription simplifiée et pratique à une variété d'événements sportifs passionnants.

        Que vous soyez un coureur, un cycliste, un nageur ou un amateur de tout autre sport, notre site vous permet de trouver et de vous inscrire facilement à des événements sportifs locaux, régionaux ou même internationaux. Nous avons rassemblé une large gamme d'événements, des courses populaires aux tournois de différentes disciplines, pour vous offrir un choix diversifié.

        Notre processus d'inscription est simple et intuitif. Il vous suffit de parcourir les événements disponibles, de sélectionner celui qui vous intéresse et de remplir le formulaire d'inscription en ligne. Vous pouvez facilement consulter les détails de chaque événement, y compris la date, le lieu, les modalités de participation et les frais d'inscription.

        Une fois inscrit, vous recevrez toutes les informations nécessaires pour vous préparer à l'événement, y compris les confirmations, les horaires et les instructions spécifiques. Vous pourrez également suivre votre progression et consulter les résultats en temps réel.

        Que vous soyez un athlète professionnel cherchant à relever de nouveaux défis ou un amateur désireux de se lancer dans une nouvelle aventure sportive, notre site est l'endroit idéal pour trouver et vous inscrire aux événements qui correspondent à vos intérêts et à vos objectifs.

        Rejoignez notre communauté sportive dès maintenant et découvrez une multitude d'événements passionnants qui vous permettront de vivre des expériences sportives inoubliables. Inscrivez-vous aujourd'hui et préparez-vous à vous surpasser dans des compétitions sportives passionnantes !

        Prêt à vous inscrire ? Parcourez nos événements disponibles et choisissez celui qui vous inspire. Rejoignez-nous pour vivre des moments sportifs intenses et rencontrer d'autres passionnés comme vous !
    </p>

    <li class="nav-item">
        <a class="nav-link btn btn-danger rounded-pill m-1 text-white" asp-area="" asp-action="AfficherPassees" asp-controller="Competition">Afficher les compétitions passées</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-danger rounded-pill m-1 text-white" asp-area="" asp-action="Index" asp-controller="Competition">Afficher les compétitions à venir</a>
    </li>
</div>
